@{
    Layout = "_Layout";
}

<h1 class="jumbotron">Epicodus Hair Salon</h1>
<div class="card">
    <div class="card-body">
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
    </div>
</div>


