@{
    Layout = "_Layout";
}

<h1 class="jumbotron">Epicodus Hair Salon</h1>
<div class="card">
    <div class="card-body">
        <p>@Html.ActionLink("Back to list", "Index", "Clients")</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p>@Html.ActionLink("Add more clients", "Create", "Clients")</p>
    </div>
</div>


